@tailwind base;
@tailwind components;
@tailwind utilities;
 

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.link{
   @apply text-orange
}

.zoo {
   @apply animate-in fade-in zoom-in
}

.background{
   background-image: url('/assets/images/bg.png');
   background-position: center;
   background-size:  cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 90svh;
 }